{
  "logs": {
    "path": "stdout"
  },
  "play_wav_cmdline": "aplay %1",
  "lang": "en-us",
  "listener": {
    "VAD": {
      "module": "ovos-vad-plugin-silero"
    }
  },
  "gui": {
    "extension": "ovos-gui-plugin-shell-companion",
    "idle_display_skill": "skill-ovos-homescreen.openvoiceos",
    "generic": {
      "homescreen_supported": true
    },
    "gui_file_host_path": "/home/ovos/.cache/gui_files"
  },
  "websocket": {
    "max_msg_size": 100
  }
}

